body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f3f3;
}

.login {
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 94px;
}

.login img {
  margin-top: 72px;
}

.login div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.login input {
  height: 54px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
}

.login input::placeholder {
  color: #aeaeae;
}

.login button {
  width: 109px;
  height: 45px;
  color: #696969;
  text-align: center;
  background-color: #e7e7e7;
  border-radius: 9px;
}

.login button:hover {
  cursor: pointer;
  color: #e7e7e7;
  background-color: #b93d24;
}

header {
  height: 80px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  padding: 0 22px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header img {
  width: 75px;
}

.huge-icon {
  font-size: 45px;
}

.icon:hover {
  cursor: pointer;
  color: #b93d24;
}

main {
  margin: 106px 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.msg {
  font-size: 14px;
  line-height: 20px;

  padding: 10px 9px;
  border-radius: 2px;
}

.status {
  background-color: #dcdcdc;
}

.default {
  background-color: #fff;
}

.private {
  background-color: #ffdede;
}

small {
  color: #aaa;
  margin-right: 6px;
}

strong {
  font-weight: 700;
}

.hidden {
  display: none;
}

aside {
  font-size: 16px;
  line-height: 19px;
}

.close-sidebar {
  width: 30vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;

  z-index: 1;
}

.sidebar {
  width: 70vw;
  height: 100vh;
  background-color: #fff;
  padding: 0 18px;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

h2 {
  font-weight: 700;
  text-align: center;
  margin: 23px;
}

.contacts,
.visibilities {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact,
.visibility {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact div,
.visibility div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.small-icon {
  font-size: 25px;
}

aside img {
  opacity: 0;
}

.check img {
  opacity: 1;
}

.tiny-icon {
  font-size: 22px;
}

/*
aside img:not(.current) {
  opacity: 0;
} */

footer {
  height: 80px;
  background-color: #fff;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.05);
  padding: 0 17px;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer div {
  margin-top: 15px;
}

footer input {
  width: calc(100vw - 80px);
  color: #000;
  font-family: inherit;
  font-size: 18px;
  line-height: 25px;
}

footer input::placeholder {
  color: #000;
  font-style: italic;
}

.info {
  color: #666;
  font-weight: 300;
  margin-top: 5px;
}

.big-icon {
  font-size: 26px;
}
